footer{
    position: fixed;
    left: 50%;
    bottom: 0;
    margin: 60px auto 0;
    transform: translate(-50%, 0);
    max-width: 100%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 0 50px 40px;
    z-index: 2;
    .enxMan{
        position: absolute;
        right: 50px;
        bottom: 115%;
    }
    .enxManLogin{
        position: absolute;
        left: 30px;
        bottom: 55%;
    }
    .enxManReinvest{
        position: absolute;
        right: 30px;
        bottom: 70%;
        z-index: -1;
    }
    .enxManRecovery{
        position: absolute;
        left: 50%;
        bottom: 50px;
        transform: translate(-50%, 0);
    }
    .enxManPassword{
        position: absolute;
        left: 50%;
        bottom: 50px;
        transform: translate(-50%, 0);
    }
    .copy{
        color: @accent;
        font-size: 14px;
        line-height: 19px;
    }
    .contacts{
        display: flex;
        flex-direction: column;
        align-items: flex-end;
       
        .contactsLink{
            font-family: 'CasualHardcore';
            font-size: 20px;
            text-align: center;
            color: @accent;
            text-decoration: none;
            margin-bottom: 15px;
            transition: all .3s ease;
            &:hover{
                transform: scale(1.1);
            }
            img{
                display: block;

            }
        }
        .underlineLink{
            font-family: "Ubuntu";
            text-decoration: underline;
            color: #14F1FF;
            font-size: 14px;
            font-weight: 600;
            line-height: 19px;
            margin-bottom: 0;
            transition: all .3s ease;
            &:hover{
                transform: scale(1.1);
            }
        }
    }
}