
header{
    position: relative;
    max-width: 1400px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 30px;
    
    .headerBtns{
        position: absolute;
        top: 25px;
        left: 50%;
        transform: translate(-50%, 0);
        display: flex;
        justify-content: space-between;
        max-width: 630px;
        width: 100%;
        .navLink{
            font-family: "CasualHardcore";
            display: flex;
            flex-direction: column;
            color: #00E5FF;
            text-decoration: none;
            text-align: center;
            font-size: 24px;
            transition: all .3s ease;
            &:hover{
                transform: scale(1.1);
            }
            img{
                width: 77px;
            }
        }
    }
}
