.createDepo{
   
    font-family: 'CasualHardcore';
    color: #fff;
    max-width: 706px;
    margin: 10px auto;
    text-align: center;
    padding: 44px;
    position: relative;
    z-index: 200;
    .fonBg{
        position: absolute;
        left: 0;
        top: 0;
    }
    p{
        position: relative;
        font-family: 'Ubuntu';
        font-weight: 300;
        font-size: 20px;
        margin-top: 0;
        line-height: 22px;
    }
    h2{
        position: relative;
        font-size: 62px;
        margin-bottom: 0;
        margin-top: 10px;
        font-weight: 400;
    }
    
}

.investBlock{
        font-family: 'CasualHardcore';
        color: #fff;
        font-size: 40px;
        max-width: 710px;
        width: 100%;
        margin: 10px auto;
    
        padding: 44px;
        position: relative;
        z-index: 200;
        .fonBg{
            position: absolute;
            left: 0;
            top: 0;
        }
        .inputElement{
            margin: 0 auto 22px;
            &_title{
                top: calc(-100% - 16px);
                font-weight: 400;
            }
            input{
                text-align: center;
                padding-left: 0;
                font-size: 32px;
                font-weight: 700;
                position: relative;
                top: 0;
            }
        }
        &_Top{
            position: relative;
            display: flex;
            justify-content: center;
            width: 100%;
            margin-bottom: 0;
            h2{
                margin: 0;
                font-size: 62px;
                font-weight: 400;
            }
            &Link{
                margin: 0 9px 12px 9px
            }
            
        }
        &_Bottom{
            position: relative;
            text-align: center;
            font-family: 'Ubuntu';
            font-size: 20px;
            font-weight: 300;
            
            &Link{
                margin-bottom: 0;
                margin-top: 20px;
                transition: all .3s ease;
                &:hover{
                    transform: scale(1.1);
                }
            }
            &Text{
                margin-top: 10px;
                margin-bottom: 3px;
                a{
                    color: #EBFF00;
                }
                
            }
        }
    }
   .amountLabel{
    font-family: "Ubuntu";
    position: absolute;
    right: 21px;
    top: 18px;
    font-size: 16px;
    font-weight: 700;
    color: #4B4B4B;
   } 