.loginBlock{
    font-family: 'CasualHardcore';
    color: #fff;
    font-size: 40px;
    max-width: 710px;
    height: 605px;
    width: 100%;
    margin: 10px auto;
    background-image: url(../img/lbg-login.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    padding: 57px 40px 30px;
    &_Top{
        display: flex;
        justify-content: center;
        width: 100%;
        margin-bottom: 32px;
        &Link{
            margin: 0 9px 12px 9px
        }
        
    }
    &_Recover{
        margin: 10px;
        a{
            color: #EBFF00;
        }
    }
    &_Bottom{
        position: relative;
        top: -30px;
        text-align: center;
        font-family: 'Ubuntu';
        font-size: 20px;
        font-weight: 300;
        
        &Link{
            margin-bottom: 0;
            margin-top: 15px;
        }
        &Text{
            margin-top: 10px;
            a{
                color: #EBFF00;
            }
            
        }
    }
}