.mnu{
    font-family: "Ubuntu";
    position: absolute;
    left: 15px;
    top: 250px;
    padding: 16px;
    color: #fff;
    
   
    width: 258px;
    &_Link{
        font-family: "CasualHardcore";
        text-decoration: none;
        display: flex;
        align-items: center;
        padding: 6px 0;
        transition: all .3s ease;
        color: #00FEEF;
        font-size: 36px;
        img{
            margin-right: 10px;
        }
        &:hover{
            transform: scale(1.1);
        }
   }
}