.priceBlock{
    font-family: "Ubuntu";
    position: absolute;
    left: 15px;
    top: 0;
    padding: 16px;
    color: #fff;
    background-image: url(../img/priceBg.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;
    width: 258px;
    height: 156px;
    &_top{
        display: flex;
        align-items: center;
        text-align: left;
        font-size: 36px;
        margin-bottom: 0px;
        font-weight: 700;
        img{
            margin-right: 10px;
        }
    }
    p{
        font-size: 16px;
        font-weight: 700;
        margin-bottom: 5px;
        margin-top: 0;
    }
    &_bottom{
        font-size: 20px;
        font-weight: 700;
    }
}