.repeatBlock{
    font-family: 'CasualHardcore';
    color: #fff;
    font-size: 40px;
    max-width: 710px;
    width: 100%;
    margin: 10px auto;
    background-image: url(../img/repeatBg.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    padding: 44px;
    // .inputElement{
    //     margin: 0 auto 22px;
    //     &_title{
    //         top: calc(-100% - 16px);
    //         font-weight: 400;
    //     }
    // }
    &_Top{
        display: flex;
        justify-content: center;
        width: 100%;
        margin-bottom: 32px;
        h2{
            margin: 0;
            font-size: 62px;
            font-weight: 400;
        }
        &Link{
            margin: 0 9px 12px 9px
        }
        
    }
    &_Bottom{
        text-align: center;
        font-family: 'Ubuntu';
        font-size: 20px;
        font-weight: 300;
        
        &Link{
            margin-bottom: 0;
            margin-top: 0;
            transition: all .3s ease;
            &:hover{
                transform: scale(1.1);
            }
        }
        &Text{
            margin-top: 10px;
            a{
                color: #EBFF00;
            }
            
        }
    }
}